@import "tailwindcss";

@font-face{
  font-family: 'Fira';
  src: url('/fonts/FiraSans-Light.ttf');
}
@font-face{
  font-family: 'FBlack';
  src: url('/fonts/FiraSans-Black.ttf');
}
@font-face{
  font-family: 'FBold';
  src: url('/fonts/FiraSans-Bold.ttf');
}
@font-face{
  font-family: 'FItalic';
  src: url('/fonts/FiraSans-Italic.ttf');
}

@keyframes rotate{
  from{
    transform: rotateZ(0deg);
  }
  to{
    transform: rotateZ(372deg);
  }
}

@keyframes show{
  from{
    top: 0%;
  }
  to{
    top: 7vh;
  }
}

@theme {
  --color-primary: #1E3A8A;
  --color-secondary: #00BFA6;
  --color-light:#EEF5FC ;
  --color-hash: #333333;
  --font-regular: 'Fira';
  --font-bolds: 'FBold';
  --font-boldser: 'FBlack';
  --font-light: 'FItalic';
  --animate-roll: rotate 5s;
  --animate-show: show .1s;
}

@source "./app/*/*.tsx"